.header {
  background-color: #e5e5e5;
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 2;
}

.headerInner {
  position: relative;
  border: solid;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  position: relative;
  display: inline-flex;
  border: solid;
  width: 49%;
}

.logInSignUp {
  position: absolute;
  display: inline-flex;
  border: solid;
  width: 49%;
  right: 0;
  /* text-align: right; */
}

.mentorsContainer {
  position: relative;
  border: solid;
  top: 100px;
  height: 500px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.menteesContainer {
  position: relative;
  border: solid;
  top: 100px;
  height: 500px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  position: relative;
  border: solid;
  height: 100px;
  width: 100px;
}
